
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/client-side/client-details/src/checkbox.min.css" rel="stylesheet" />
    <link href="~/app-client/details/myStyle.css" rel="stylesheet" />

}
@section Scripts{

    <script src="~/app-client/product/index.js"></script>
    <script>
        var product = new productController();
        product.initialize();</script>
}
<section class="cat_product_area section_gap">
    <div class="container-fluid">
        <div class="row flex-row-reverse">

            <div class="col-lg-9 ">
               
                <div class="product_top_bar ">
                    <div class="left_dorp row">
                        <label class="el-checkbox el-checkbox-lg col-xs-12 col-sm-4">
                            <span class="margin-r">Sản phẩm HOT</span>
                            <input id="ckHot" type="checkbox" name="check">
                            <span class="el-checkbox-style  pull-right"></span>
                        </label>

                        <select class="sorting  col-xs-12 col-sm-8" id="ddlMakeInSearch">
                            <option>-----------Xuất xứ-----------</option>
                            @await Component.InvokeAsync("Menu")
                        </select>

                    </div>
                </div>
                <div class="latest_product_inner row" id="tbl-content">

                    @*<div id="tbl-content" class="row"></div>*@

                    <div class="row">
                        <nav class="cat_page mx-auto" aria-label="Page navigation example">
                            <ul class="pagination" id="paginationUL">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets cat_widgets">
                        @*<div class="el-checkbox el-checkbox-red checkbox">
                        <label style="100%"><input type="checkbox" />Sản phẩm HOT</label>
                    </div>*@
                        
              
                        <div class="l_w_title">
                            <h3>Danh mục</h3>
                        </div>
                        <div class="widgets_inner">
                            @await Component.InvokeAsync("SideBarCategory")

                        </div>
                    </aside>

                </div>
            </div>

        </div>
    </div>

</section>


<script id="table-template" type="x-tmpl-mustache">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="f_p_item">
            <a class="indexA" href="Product/Details/{{Id}}" data-id="{{Id}}">
                {{{Image}}}
                <h4>{{Name}}</h4>

                <h6>Xuất xứ: {{MakeIn}}</h6>
                <h3 class="indexPrice">{{Price}}đ</h3>
                <p>{{Description}}</p>
            </a>
        </div>
    </div>

</script>

